<div id="demovuejsfrontend">
	<div class="cover" v-bind:style="{ backgroundImage: 'url(' + bannerURL + ')' }">
		<div class="row">
			<div class="col-md-12 text-center head-title">
				<h1>Simplicit&eacute; + Vue.js<span class="text-primary"> Demo</span></h1>
				<div class="baseline">
					<h2>This is a sample demo page using the <strong>Vue.js</strong> framework</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row product clickable" style="display: none;" v-if="item" v-show="item" v-on:click="select(null)">
			<div class="col-md-4 text-center">
				<h1 class="text-primary">{{ item.demoPrdName }}</h1>
				<img v-if="item.demoPrdPicture" v-bind:src="'data:' + item.demoPrdPicture.mime + ';base64,' + item.demoPrdPicture.content" v-bind:alt="item.demoPrdName"/>
				<br/><span class="text-muted">{{ item.demoPrdReference }}</span>
			</div>
			<div class="col-md-8 text-documentation" v-html="item.demoPrdDocumentation"></div>
		</div>
		<div class="row" v-else>
			<template v-for="item in list">
				<div class="col-md-4 clickable" v-on:click="select(item)">
					<h1 class="text-primary text-center">{{ item.demoPrdName }}</h1>
					<h3 class="text-muted text-center">
						<img v-if="item.demoPrdPicture" v-bind:src="'data:' + item.demoPrdPicture.mime + ';base64,' + item.demoPrdPicture.content" v-bind:alt="item.demoPrdName"/>
						<br/>{{ item.demoPrdReference }}
					</h3>
					<p class="text-start text-muted">{{ item.demoPrdDescription }}</p>
					<h3 class="text-end"><span class="badge text-bg-danger">{{ parseFloat(item.demoPrdUnitPrice).toFixed(2) }}</span></p>
				</div>
			</template>
		</div>
		<div class="row text-center" v-if="!list && !item"><h3>Loading...</h3></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr><p class="text-center">&copy; Simplcit&eacute; Software</p>
		</div>
	</div>
</div>