#demovuejsfrontend {
	background-color: #fff;
	padding: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	color: #555;
	.cover {
		padding: 50px 0;
		margin-bottom: 30px;
		overflow: hidden;
		position: relative;
		.cover-image {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-size: cover;
			background-position: center;
		}
		h1 {
			font-size: 5em;
		}
		h2 {
			font-size: 2em;
		}
	}
	.row {
		margin: 20px;
	}
	.text-muted {
		color: #777;
	}
	.text-documentation {
		overflow: auto;
		color: #555;
	}
	h3.text-muted img {
		max-width: 95%;
		background: #e2e7ed;
		box-shadow: 5px 5px 8px #888;
		padding: 10px;
		margin: 10px;
	}
	.product {
		background: #fafaff;
		box-shadow: 5px 5px 8px #888;
		padding: 15px;
		margin-bottom: 10px;
	}
	.clickable {
		cursor: pointer;
	}
}